<!-- company-list.component.html -->

<div class="bg-gray-200 p-4 mb-4">
  <table class="min-w-full bg-white border border-gray-300">
    <thead>
      <tr>
        <th class="py-2 px-4 border-b">Company Name</th>
        <th class="py-2 px-4 border-b">Company Description</th>
        <th class="py-2 px-4 border-b">Status</th>
        <th class="py-2 px-4 border-b">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of companies">
        <td class="py-2 px-4 border">{{ company.companyName }}</td>
        <td class="py-2 px-4 border">{{ company.companyDescription }}</td>
        <td class="py-2 px-4 border">{{ company.approvel }}</td>
        <td class="py-2 px-4 border flex justify-evenly">
          <button
            *ngIf="company.approvel === 'pending'"
            class="bg-green-500 hover:bg-green-700 text-white py-2 px-4 rounded"
            (click)="approve(company._id)"
          >
            Approve
          </button>
          <button
            *ngIf="company.approvel === 'pending'"
            class="bg-red-500 hover:bg-red-700 text-white py-2 px-4 rounded"
            (click)="reject(company._id)"
          >
            Reject
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
