<!-- <div>
  <nav>
    <a routerLink="/user/login">User login</a> <br />
    <a routerLink="/user/signup">User Signup</a> <br />
    <br />

    <a routerLink="/admin/alogin">Admin login</a><br />
    <a routerLink="/admin/asignup">Admin Signup</a><br />

    <br />

    <a routerLink="/company/clogin">Company login</a> <br />
    <a routerLink="/company/csignup">Company Signup</a>
  </nav> -->

  <!-- Router Outlet: Where the routed components will be displayed -->
  <router-outlet></router-outlet>
<!-- </div> -->
